<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>login</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Login</h1>
      <div >
      <form th:action="@{/login}"
         th:object="${accountLoginForm}" method="POST">
         <table>
         <tr> 
         <td>User name</td>
         <td><input type="text" th:field="*{username}" /></td>
         </tr>    
         <tr>
         <td>Password</td>
         <td><input type="password" th:field="*{password}" /></td>     
         </table>
         <input type="submit" value="Login" />
      </form>
      </div>
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
       
       <a th:href="@{/}">back to home</a> <br/>
       
   </body>
</html>